<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="나만의 게시판">
    <meta property="og:description" content="내용을 작성하여 게시판을 채워나가보세요!">
    <meta property="og:image" content="images/og_image.png">
    <title>나만의 게시판</title>
    <link rel="stylesheet" href ="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <script th:inline="javascript">
        $(document).ready(function () {
            getMessages();
            logoutBtn();
        })


        // 메모를 불러와서 보여줍니다.
        function getMessages() {
            $('#cards-box').empty();
            $.ajax({
                type: 'GET',
                url: '/api/memos',
                success: function (response) {
                    for(let i=0; i<response.length; i++){
                        let memo = response[i];
                        let id = memo.id;
                        let username = memo.username;
                        let title = memo.title;
                        let contents = memo.contents;
                        let modifiedAt= memo.modifiedAt;
                        addHTML(id, username, title, contents, modifiedAt);
                    }
                }
            })
        }
        function moveWrite(){
            let username =[[${username}]];
            console.log(username);
            if(!username){
                alert("로그인이 필요합니다.");
                location.href='/login'
            }else{
                location.href='/write'
            }
        }
        function move(id){
            location.href= `/detail/${id}`
        }
        function loginPage(){
            location.href='/login'
        }
        function signupPage(){
            location.href='/user/signup'
        }
        function logoutBtn(){
            let username =[[${username}]];
            if(!username){
                $('#my_form').hide();
                $('#signup-text').show();
            }else{
                $('#my_form').show();
                $('#signup-text').hide();
                $('#login-text').hide();
            }
        }
        function addHTML(id, username, title, contents, modifiedAt) {
            let tempHtml = `<a onclick="move(${id})">
                    <div class="card">
                        <div class="metadata">
                            <div class="date">
                                ${modifiedAt}
                            </div>
                            <div id="${id}-username"  class="username">
                                ${username}
                            </div>
                        </div>
                        <div class="contents">
                             <div id="${id}-title" class="title">
                                ${title}
                            </div>
                            </a>
                    </div>`;
            $('#cards-box').append(tempHtml);
        }

    </script>
</head>

<body>
<div class="background-header">

</div>
<div class="background-body">

</div>
<div class="wrap">
    <div class="header" style="position:relative;">
        <div id="header-title-select-shop">
            <h2><span th:text="${username}"></span>님의 게시판</h2>
        </div>
        <form>
            <a id="login-text" onclick="loginPage()">로그인</a>
        </form>
        <form>
            <a id="signup-text" onclick="signupPage()">회원가입</a>
        </form>
        <form id="my_form" method="post" action="/user/logout">
            <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
        </form>

        <p>게시판 전체 목록입니다.</p>
    </div>
    <button type="button" id="content-button" class="btn btn-dark" onclick="moveWrite()">게시물 작성</button>
    <div id="cards-box" class="area-read">

    </div>
</div>
</body>

</html>